## Importing Libraries

In [9]:
import pandas as pd
import numpy as np

## Importing datasets

In [10]:
df1 = pd.read_csv(r'D:\Fraudulent-transaction-predictor\data\Raw_data\application_record.csv')

In [11]:
df1.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [12]:
df2 = pd.read_csv(r'D:\Fraudulent-transaction-predictor\data\Raw_data\credit_record.csv')

In [13]:
df2.head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

In [14]:
print(f"""The shape of df1 is {df1.shape}
and the shape of df2 is {df2.shape}""")

The shape of df1 is (438557, 18)
and the shape of df2 is (1048575, 3)

## Information about features

In [15]:
info = {
    'Feature_name' : ['ID', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
                      'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
                      'DAYS_BIRTH', 'DAYS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'FLAG_EMAIL',
                      'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'MONTHS_BALANCE', 'STATUS'],

    'Info' : ['Client number',
              'Gender',
              'Is there a car',
              'Is there a property',
              'Number of children',
              'Annual income',
              'Income category',
              'Education level',
              'Marital status',
              'Way of living',
              'Birthday. Count backwards from current day (0), -1 means yesterday',
              'Start date of employment. Count backwards from current day(0). If positive, it means the person currently unemployed.',
              'Is there a mobile phone',
              'Is there a work phone',
              'Is there a phone',
              'Is there an email',
              'Occupation',
              'Family size',
              'The month of the extracted data is the starting point, backwards, 0 is the current month, -1 is the previous month, and so on',
              '''0: 1-29 days past due, 1: 30-59 days past due, 2:60-89 days overdue, 3: 90-119 days overdue, 4: 120-149 days overdue, 5: Overdue or bad debts write-offs for more than 150 days, C: paid off that month, X: No loan for the month''']
}

pd.DataFrame(data = info, columns = ['Feature_name', 'Info'])

           Feature_name                                               Info
0                    ID                                      Client number
1           CODE_GENDER                                             Gender
2          FLAG_OWN_CAR                                     Is there a car
3       FLAG_OWN_REALTY                                Is there a property
4          CNT_CHILDREN                                 Number of children
5      AMT_INCOME_TOTAL                                      Annual income
6      NAME_INCOME_TYPE                                    Income category
7   NAME_EDUCATION_TYPE                                    Education level
8    NAME_FAMILY_STATUS                                     Marital status
9     NAME_HOUSING_TYPE                                      Way of living
10           DAYS_BIRTH  Birthday. Count backwards from current day (0)...
11        DAYS_EMPLOYED  Start date of employment. Count backwards from...
12           FLAG_MOBIL                            Is there a mobile phone
13      FLAG_WORK_PHONE                              Is there a work phone
14           FLAG_PHONE                                   Is there a phone
15           FLAG_EMAIL                                  Is there an email
16      OCCUPATION_TYPE                                         Occupation
17      CNT_FAM_MEMBERS                                        Family size
18       MONTHS_BALANCE  The month of the extracted data is the startin...
19               STATUS  0: 1-29 days past due, 1: 30-59 days past due,...

In [16]:
df1.shape[0] - df2.shape[0]

-610018

## Adding target Column in df2

In [26]:
def Percent_value_count(condition:str):

    percent = (df2['STATUS'].to_list().count(condition)/df2.shape[0]) * 100

    print(f'{condition} -- {round(percent, 2)}')

In [27]:
df2['STATUS'].unique()

array(['X', '0', 'C', '1', '2', '3', '4', '5'], dtype=object)

In [29]:
Percent_value_count('X')
Percent_value_count('0')
Percent_value_count('C')
Percent_value_count('1')
Percent_value_count('2')
Percent_value_count('3')
Percent_value_count('4')
Percent_value_count('5')

X -- 19.95
0 -- 36.54
C -- 42.16
1 -- 1.06
2 -- 0.08
3 -- 0.03
4 -- 0.02
5 -- 0.16

In [30]:
status = df2['STATUS'].to_list()
status

['X',
 '0',
 '0',
 '0',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1',
 'X',
 '0',
 'X',
 '1',
 'X',
 '0',
 'X',
 'X',
 'X',
 '0',
 '0',
 '0',
 'X',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'X',
 '0',
 'X',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'X',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '1',
 '0',
 '0',
 '1',
 '1',
 '0',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'X',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'X',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'C',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 '0',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 '0',
 '0',
 '0',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 'X',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 '0',
 'X',
 'X',
 'X',
 'X',
 'X',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 '0',
 'X',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'X',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 '0',
 'X',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 '0',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'X',
 'X',
 '0',
 '0',
 '0',
 '0',
 '1',
 'X',
 '0',
 '0',
 '0',
 '0',
 'X',
 '0',
 'X',
 '0',
 'X',
 '0',
 '0',
 'X',
 'X',
 '0',
 '0',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 'X',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 'C',
 'C',
 'C',
 'C',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 ...]

In [31]:
type(status[0])

str

In [32]:
target = []

for i in status:
    if i == '0':
        target.append('Yes')

    elif i == '1':
        target.append('Yes')

    elif i == '2':
        target.append('No')

    elif i == '3':
        target.append('No')

    elif i == '4':
        target.append('No')

    elif i == '5':
        target.append('No')

    elif i == 'X':
        target.append('Yes')

    elif i == 'C':
        target.append('Yes')

In [34]:
target.count('No')

3104

In [35]:
df2['TARGET'] = target

In [36]:
df2

              ID  MONTHS_BALANCE STATUS TARGET
0        5001711               0      X    Yes
1        5001711              -1      0    Yes
2        5001711              -2      0    Yes
3        5001711              -3      0    Yes
4        5001712               0      C    Yes
...          ...             ...    ...    ...
1048570  5150487             -25      C    Yes
1048571  5150487             -26      C    Yes
1048572  5150487             -27      C    Yes
1048573  5150487             -28      C    Yes
1048574  5150487             -29      C    Yes

[1048575 rows x 4 columns]

## Merging Both the datasets

In [38]:
df3 = pd.merge(df1, df2, how='inner', on='ID')

In [40]:
df3.to_csv(r"D:\Fraudulent-transaction-predictor\data\Raw_data\NewData.csv", index=False)